*{
  margin: 0;
}

.app{
  background-color: #fafafa;
}

.appHeader{
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}

.input{
  width: 80%;
  height: 10px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid;
}

.inputPassword{
  width: 80%;
  height: 10px;
  padding: 10px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid;
}

.signupButton{
  width: 85%;
  height: 30px;
  color: black;
}